@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 10%;

    --card: 0 0% 80%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 80%;
    --popover-foreground: 0 0% 10%;

    --primary: 151 76% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 70%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 45%;

    --accent: 142 76% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 80%;
    --input: 0 0% 100%;
    --ring: 142 76% 35%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 92%;
    --sidebar-foreground: 0 0% 10%;
    --sidebar-primary: 142 76% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 88%;
    --sidebar-accent-foreground: 0 0% 10%;
    --sidebar-border: 0 0% 85%;
    --sidebar-ring: 142 76% 35%;
  }

  .dark {
    --background: 0 0% 95%;
    --foreground: 0 0% 10%;

    --card: 0 0% 80%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 80%;
    --popover-foreground: 0 0% 10%;

    --primary: 142 76% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 70%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 45%;

    --accent: 142 76% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 80%;
    --input: 0 0% 100%;
    --ring: 142 76% 35%;
    
    --sidebar-background: 0 0% 92%;
    --sidebar-foreground: 0 0% 10%;
    --sidebar-primary: 142 76% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 88%;
    --sidebar-accent-foreground: 0 0% 10%;
    --sidebar-border: 0 0% 85%;
    --sidebar-ring: 142 76% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
